<div class="row">
  <div class="col-md-5">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="panel panel-default user-form">
        <div class="panel-heading">
          <strong>Resend confirmation instructions</strong>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-7">
    <%= render partial: 'layouts/landing_page_partial' %>
  </div>
</div>
