<div class="col-md-12 paddtop-10 paddbottom-60">
  <h1 class="page-header"><%= @reward.title %></h1>
  <div class="col-md-8 reward-desc-column">
    <% @reward.images.each do |image| %>
      <div class="paddtop-40 text-center">
        <%= image_tag image.photo.url(:large) %>
      </div>
    <% end %>
    <div class="reward-description paddtop-30"><%= @reward.description %></div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <h2><%= @reward.price_in_coins %> Coins</h2>
      <%= link_to 'Pay now', "", class: 'btn btn-success pay-now-btn', data: {toggle: 'modal', target: '#myModal'} %>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade reward-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <%= render partial: 'shared/modal' %>
</div>
