<div id="all-ads" class="paddtop-40">
  <ol class="breadcrumb">
    <li class="active">
      <i class="fa fa-envelope-o"></i> Ads for you
    </li>
  </ol>
  <h3 class="page-header">
    Featured Ads <small>Never miss these</small>
  </h3>
  <div class="row">
    <% if @featured.blank? %>
      <h3>Sorry there are no featured Ads available right now.</h3>
    <% else %>
      <% @featured.each do |featured_ad| %>
        <div class="col-md-3">
          <div class="card text-xs-center">
            <div class="card-header green-bg">
              <strong>Featured</strong>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= featured_ad.title %></h4>
              <p class="card-text"><%= featured_ad.description %></p>
              <%= link_to 'View this Ad', content_item_path(featured_ad), target: '_blank', class: 'btn btn-primary' unless featured_ad.not_allowed(@recorded_items) %>
            </div>
            <div class="card-footer text-muted">
              <strong><%= featured_ad.coins %> coins</strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row paddtop-40">
    <h3 class="page-header">
      Regular Ads <small>Generate good coins</small>
    </h3>
    <% if @regular.blank? %>
      <h3>Sorry there are no regular Ads available right now.</h3>
    <% else %>
      <% @regular.each do |regular_ad| %>
        <div class="col-md-3">
          <div class="card text-xs-center">
            <div class="card-header blue-bg">
              <strong>Regular</strong>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= regular_ad.title %></h4>
              <p class="card-text"><%= regular_ad.description %></p>
              <%= link_to 'View this Ad', content_item_path(regular_ad), target: '_blank', class: 'btn btn-primary' unless regular_ad.not_allowed(@recorded_items) %>
            </div>
            <div class="card-footer text-muted">
              <strong><%= regular_ad.coins %> coins</strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row paddtop-40">
    <h3 class="page-header">
      Default Ads <small>Always available to you</small>
    </h3>
    <% if @default.blank? %>
      <h3>Sorry there are no default Ads available right now.</h3>
    <% else %>
      <% @default.each do |default_ad| %>
        <div class="col-md-3">
          <div class="card text-xs-center">
            <div class="card-header orange-bg">
              <strong>Default</strong>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= default_ad.title %></h4>
              <p class="card-text"><%= default_ad.description %></p>
              <%= link_to 'View this Ad', content_item_path(default_ad), target: '_blank', class: 'btn btn-primary' unless default_ad.not_allowed(@recorded_items) %>
            </div>
            <div class="card-footer text-muted">
              <strong><%= default_ad.coins %> coins</strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
